* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: rgb(158, 241, 158);
  display: flex;
  justify-content: center;
  align-items: center;
}

#panel {
  width: 80%;
  height: 85%;
  background-color: #fff;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

#ptop {
  width: 100%;
  height: 80px;
  background-color: rgb(3, 114, 3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35%;
}

.elem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.elem h2 {
  font-weight: 200;
}

.box {
  height: 40px;
  width: 40px;
  background-color: #fff;
  color: rgb(12, 238, 102);
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 70px;
  font-weight: 600;
  font-size: 25px;
}

#pbtm {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(38, 144, 38);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.bubble:hover {
    background-color: rgb(17, 74, 17);
}
#playBtn{
    background-color: rgb(7, 130, 7);
}